.SideBar {
  width: 250px;
  border-right: 1px solid #ccc;

  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 20px;
      padding: 10px 15px 10px 30px;
      color: #4b9cfb;
    }

    .routs {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .route {
        padding: 10px 15px 10px 30px;
        background: none;
        border: none;
        text-align: left;

        p {
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 7px;

          .svg {
            width: 22px;
            height: 22px;
            stroke-width: 2px;
          }
        }

        &:hover {
          background: #f5f5f5;
          cursor: pointer;
        }
      }

      .active {
        border-left: 5px solid #4b9cfb !important;
        .svg {
          stroke: #4b9cfb;
        }
      }
    }
  }
}
